<h1>Title: <%=@book.title%></h1><br>
<h2>Author: <%=@book.author%></h2>
<h2>Genre: <%=@book.genre%></h2>
<h2>Published: <%=@book.year_published%></h2>

<a href="/books/<%=@book.id%>/edit"><button>Edit</button></a>


<form method="POST" action="/books/<%=@book.id%>">
<input type="hidden" name="_method" value="delete">
<input type="submit" id="submit" value="Delete">

</form>

<h3>Submission created by: </h3>
